# dependencies
/node_modules
dist/

# IDEs and editors
.idea/
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

package-lock.json

# Test Reports and Test Codes
test-report.html
